<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/admin/layout}">
<body>
<div class="content mt-3" layout:fragment="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/resources/css/froala_editor.css}">
    <link rel="stylesheet" th:href="@{/resources/css/froala_style.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/code_view.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/draggable.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/colors.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/emoticons.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/image_manager.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/image.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/line_breaker.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/table.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/char_counter.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/video.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/fullscreen.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/file.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/quick_insert.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/help.css}">
    <link rel="stylesheet" th:href="@{/resources/css/third_party/spell_checker.css}">
    <link rel="stylesheet" th:href="@{/resources/css/plugins/special_characters.css}">
    <link rel="stylesheet" th:href="@{/resources/css/codemirror.min.css}">
    <!--<div class="alert alert-danger" style="z-index: 10000">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
    </div>-->
    <div class="msgBox"></div>
    <div class="animated fadeIn">
        <!--<p><button onclick="ajaxEntity();">ajaxEntity[POST, ResponseEntity]</button></p>
        <p></p>

        <div>
            <h3>Response-</h3>
            <div id="response-panel"></div>
        </div>-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="text-center">Thêm bài viết</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Credit Card -->
                        <div id="pay-invoice">
                            <div class="card-body">
                                <form action="" method="post" novalidate="novalidate">
                                    <div class="form-group">
                                        <label for="cc-title" class="control-label mb-1">Tiêu đề</label>
                                        <input id="cc-title" name="name" type="text" class="form-control" placeholder="Tiêu đề" aria-required="true" aria-invalid="false">
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="form-group">
                                                <label for="cc-exp" class="control-label mb-1">Expiration</label>
                                                <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" value="" data-val="true" data-val-required="Please enter the card expiration" data-val-cc-exp="Please enter a valid month and year" placeholder="MM / YY" autocomplete="cc-exp">
                                                <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <label for="x_card_code" class="control-label mb-1">Tag</label>
                                            <div class="input-group">
                                                <input id="x_card_code" name="x_card_code" type="tel" class="form-control cc-cvc" value="" data-val="true" data-val-required="Please enter the security code" data-val-cc-cvc="Please enter a valid security code" autocomplete="off">
                                                <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editor" class="control-label mb-1">Nội dung</label>
                                        <div class="animated fadeIn">
                                            <div id="editor">
                                                <div id='edit' style="margin-top: 30px;">

                                                </div>
                                            </div>
                                        </div>
                                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group"></div>
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <a id="savePost" class="btn btn-lg btn-primary btn-block" style="color: white">
                                                <i class="fa fa-dot-circle-o"></i>
                                                <span id="post-button-amount">Thêm bài viết</span>
                                                <span id="post-button-sending" style="display:none;">Sending…</span>
                                            </a>
                                            <a id="savePosts" class="btn btn-lg btn-primary btn-block" style="color: white">
                                                <i class="fa fa-dot-circle-o"></i>
                                                <span id="post-button-amounts">Thêm bài</span>
                                            </a>
                                        </div>
                                        <div id="resultContainer" style="display: none;">
                                            <hr/>
                                            <h4 style="color: green;">JSON Response From Server</h4>
                                            <pre style="color: green;">
                                            <code></code>
                                           </pre>
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/resources/js/codemirror.min.js}" ></script>
    <script type="text/javascript" th:src="@{/resources/js/xml.min.js}" ></script>
    <script type="text/javascript" th:src="@{/resources/js/froala_editor.min.js}" ></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/align.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/char_counter.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/code_beautifier.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/code_view.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/colors.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/draggable.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/emoticons.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/entities.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/file.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/font_size.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/font_family.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/fullscreen.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/image.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/image_manager.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/line_breaker.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/inline_style.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/link.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/lists.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/paragraph_format.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/paragraph_style.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/quick_insert.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/quote.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/table.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/save.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/url.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/video.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/help.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/print.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/third_party/spell_checker.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/special_characters.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/word_paste.min.js}"></script>
    <section layout:fragment="js">
        <script>
            var _response = $('#response-panel');
            function ajaxEntity(){
                var language = 'vn';
                var status = 'PUBLISHED';
                var views = parseInt('10');
                var createdAt = '2018-11-11 14:30:54';
                var updatedAt = '2018-11-11 14:30:54';
                var body = 'Hello';
                var postJson = new Object();
                postJson.language = language;
                postJson.status = status;
                postJson.views = views;
                postJson.createdAt = createdAt;
                postJson.updatedAt = updatedAt;
                postJson.body = body;

                $.ajax({
                    type    : 'POST', // method
                    url     : 'http://localhost:8080/entity/create',
                    async   : 'true', // true
                    data: JSON.stringify(postJson),
                    contentType : 'application/json',
                    success : function(data, status, xhr){
                        responseJson(data);
                    },
                    error   : function(error){
                        console.log("error", error);
                        responseError(error);
                    }
                });
            }
            function convertJson(data){
                return JSON.stringify(data, true, 2);
            }

            function responseJson(data){
                _response.html(convertJson(data));
            }

            function responseError(data){
                _response.html(data.responseText);
            }
            jQuery(function($) {
                $('#editor').parents('form').on('submit', function () {
                    $('#textarea-input').val($('.fr-view').html());
                    return true;
                })
            });
            $(function(){
                $('#edit').froalaEditor({
                    heightMin: 200,
                    heightMax: 400
                })
            });
            $('#savePost').click(function () {
               /* $('#packagename').val() == undefined ? '' : $("#packagename").val().trim();*/
                var title = 'hahaha';
                var language = 'vn';
                var status = 'PUBLISHED';
                var views = parseInt('10');
                var createdAt = '2018-11-11 14:30:54';
                var updatedAt = '2018-11-11 14:30:54';
                var body = $('.fr-view').html();
                var postJson = new Object();
                postJson.title = $('#cc-title').val();
                postJson.language = language;
                postJson.status = status;
                postJson.views = views;
                postJson.createdAt = createdAt;
                postJson.updatedAt = updatedAt;
                postJson.body = $('.fr-view').html();
                if (validateData()) {
                    $.ajax({
                        type    : 'POST',
                        url     : 'http://localhost:8080/admin_/post/create',
                        async   : 'true',
                        data: JSON.stringify(postJson),
                        contentType : 'application/json',
                        dataType: "json",
                        error: function (request, status, error) {
                            console.log('Error ' + request.responseText + "\n" + status + "\n" + error);
                            showMessage('error', 'Tạo bài viết thất bại!', '.msgBox');
                        },
                        success: function (data) {
                            console.log('success');
                            console.log(data);
                            showMessage('success', 'Tạo bài viết thành công.', '.msgBox');
                        }
                    });
                } else {
                    showMessage('error', 'Dữ liệu không hợp lê!', '.msgBox');
                    console.log('error');
                }
            });


            $('#savePosts').click(function () {
                var contextRoot = "${pageContext.request.contextPath}";
                $('input').next().remove();
                var customerJson = new Object();
                customerJson.name = $('#cc-title').val();
                customerJson.email = 'hoa9x3@gmail.com';
                customerJson.age = parseInt('20');
                customerJson.phone = '2323Dwed2332';
                if (validateData()) {
                    $.ajax({
                        type    : 'POST',
                        url     : 'http://localhost:8080/cust/save',
                        async   : 'true',
                        data: JSON.stringify(customerJson),
                        contentType : 'application/json',
                        dataType: "json",
                        error: function (request, status, error) {
                            console.log('status ' + request.responseText + "\n" + status + "\n" + error);
                        },
                        success: function (dataResponse) {
                            if(dataResponse.isSuccess){
                                $('#resultContainer pre code').text(JSON.stringify(dataResponse.paramObject));
                                $('#resultContainer').show();
                                $('input').removeClass("is-invalid");
                            }else{
                                //Set error messages
                                $.each(dataResponse.errorMessages,function(key,value){
                                    $('input[name='+key+']').after('<span class="error">'+value+'</span>');
                                    $('input[name='+key+']').addClass("is-invalid");
                                });
                            }
                        }
                    });
                } else {
                    console.log('error');
                }
            });
            function validateData() {
                return true;
            }
        </script>
    </section>
</div>
</body>
</html>