<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/admin/layout}">
<body>
<div class="content mt-3" layout:fragment="content">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style>
        .ql-editor{
            min-height: 300px;
        }
/*
        .form-control {
            display: block !important;
            width: 100% !important;
            padding: .375rem .75rem !important;
            font-size: 1rem !important;
            line-height: 1.5 !important;
            color: #495057 !important;
            background-color: #fff !important;
            background-clip: padding-box !important;
            border: 1px solid #ced4da !important;
            border-radius: .25rem !important;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
        }*/

        .overlay {
            height: 90%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #F0F1F6;
            color: black;
            overflow-x: hidden;
            transition: 0.5s;
        }

        .overlay a {
            padding-top: 10px;
            padding-right: 10px;
            text-decoration: none;
            font-size: 30px !important;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
        }

        .overlay .closebtn {
            top: 20px;
            right: 45px;
            font-size: 60px;
        }

        .closebtn:hover{
            color: #2B2F36 !important;
        }

        @media screen and (max-height: 450px) {
            .overlay a {font-size: 20px}
            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }
    </style>
    <div class="msgBox"></div>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="text-center">Thêm bài viết</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Credit Card -->
                        <div id="pay-invoice">
                            <div class="card-body">
                                <form action="" method="post" novalidate="novalidate">
                                    <div class="form-group">
                                        <label for="cc-title" class="control-label mb-1">Tiêu đề</label>
                                        <input id="cc-title" name="name" type="text" class="form-control" placeholder="Tiêu đề" aria-required="true" aria-invalid="false">
                                    </div>
                                    <div class="form-group">
                                        <label for="tagSelect" class="control-label mb-1">Tag</label>
                                        <select id="tagSelect" data-placeholder="--Choose tag--" multiple class="standardSelect" tabindex="5">
                                            <option value=""></option>
                                            <option value="United States">Java</option>
                                            <option value="United Kingdom">C#</option>
                                            <option value="Afghanistan">PHP</option>
                                            <option value="Aland Islands">Javascript</option>
                                            <option value="Albania">C++</option>
                                        </select>
                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="category" class="control-label mb-1">Danh mục</label>
                                        <select id="category" data-placeholder="--Choose category--" multiple class="standardSelect" tabindex="5">
                                            <option value=""></option>
                                            <option value="United States">Quản trị hệ thống</option>
                                            <option value="United Kingdom">Lập trình</option>
                                        </select>
                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label mb-1">Nội dung</label>
                                        <div class="animated fadeIn">
                                            <div id="editor"></div>
                                        </div>
                                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group"></div>
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <a id="savePost" class="btn btn-lg btn-primary btn-block" style="color: white">
                                                <i class="fa fa-dot-circle-o"></i>
                                                <span id="post-button-amount">Thêm bài viết</span>
                                                <span id="post-button-sending" style="display:none;">Sending…</span>
                                            </a>
                                            <a id="savePosts" class="btn btn-lg btn-primary btn-block" style="color: white">
                                                <i class="fa fa-dot-circle-o"></i>
                                                <span id="post-button-amounts">Thêm bài</span>
                                            </a>
                                        </div>
                                        <div id="resultContainer" style="display: none;">
                                            <hr/>
                                            <h4 style="color: green;">JSON Response From Server</h4>
                                            <pre style="color: green;">
                                            <code></code>
                                           </pre>
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="preview">
                        <a id="clickpreview">sdsdsd</a>
                        <a id='btnPreview' style='cursor: pointer' href='#'>Preview</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myNav" class="overlay">
        <div style="width: 100%">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>
        <div class="col-md-12" id="contentPreview" style="padding: 50px">

        </div>
    </div>
    <script th:src="@{/resources/admin/assets/js/jquery.min.js}"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <section layout:fragment="js">
        <script>
            var _response = $('#response-panel');
            function ajaxEntity(){
                var language = 'vn';
                var status = 'PUBLISHED';
                var views = parseInt('10');
                var createdAt = '2018-11-11 14:30:54';
                var updatedAt = '2018-11-11 14:30:54';
                var body = 'Hello';
                var postJson = new Object();
                postJson.language = language;
                postJson.status = status;
                postJson.views = views;
                postJson.createdAt = createdAt;
                postJson.updatedAt = updatedAt;
                postJson.body = body;

                $.ajax({
                    type    : 'POST', // method
                    url     : 'http://localhost:8080/entity/create',
                    async   : 'true', // true
                    data: JSON.stringify(postJson),
                    contentType : 'application/json',
                    success : function(data, status, xhr){
                        responseJson(data);
                    },
                    error   : function(error){
                        console.log("error", error);
                        responseError(error);
                    }
                });
            }
            function convertJson(data){
                return JSON.stringify(data, true, 2);
            }

            function responseJson(data){
                _response.html(convertJson(data));
            }

            function responseError(data){
                _response.html(data.responseText);
            }

            $('#savePost').click(function () {
               /* $('#packagename').val() == undefined ? '' : $("#packagename").val().trim();*/
                var title = 'hahaha';
                var language = 'vn';
                var status = 'PUBLISHED';
                var views = parseInt('10');
                var createdAt = '2018-11-11 14:30:54';
                var updatedAt = '2018-11-11 14:30:54';
                var body = $('.fr-view').html();
                var postJson = new Object();
                postJson.title = $('#cc-title').val();
                postJson.language = language;
                postJson.status = status;
                postJson.views = views;
                postJson.createdAt = createdAt;
                postJson.updatedAt = updatedAt;
                postJson.body = $('.fr-view').html();
                if (validateData()) {
                    $.ajax({
                        type    : 'POST',
                        url     : 'http://localhost:8080/admin_/post/create',
                        async   : 'true',
                        data: JSON.stringify(postJson),
                        contentType : 'application/json',
                        dataType: "json",
                        error: function (request, status, error) {
                            console.log('Error ' + request.responseText + "\n" + status + "\n" + error);
                            showMessage('error', 'Tạo bài viết thất bại!', '.msgBox');
                        },
                        success: function (data) {
                            console.log('success');
                            console.log(data);
                            showMessage('success', 'Tạo bài viết thành công.', '.msgBox');
                        }
                    });
                } else {
                    showMessage('error', 'Dữ liệu không hợp lê!', '.msgBox');
                    console.log('error');
                }
            });


            $('#savePosts').click(function () {
                var body = $(".ql-editor").html();
                alert(body);
                var contextRoot = "${pageContext.request.contextPath}";
                $('input').next().remove();
                var customerJson = new Object();
                customerJson.name = $('#cc-title').val();
                customerJson.email = 'hoa9x3@gmail.com';
                customerJson.age = parseInt('20');
                customerJson.phone = '2323Dwed2332';
                if (validateData()) {
                    $.ajax({
                        type    : 'POST',
                        url     : 'http://localhost:8080/cust/save',
                        async   : 'true',
                        data: JSON.stringify(customerJson),
                        contentType : 'application/json',
                        dataType: "json",
                        error: function (request, status, error) {
                            console.log('status ' + request.responseText + "\n" + status + "\n" + error);
                        },
                        success: function (dataResponse) {
                            if(dataResponse.isSuccess){
                                $('#resultContainer pre code').text(JSON.stringify(dataResponse.paramObject));
                                $('#resultContainer').show();
                                $('input').removeClass("is-invalid");
                            }else{
                                //Set error messages
                                $.each(dataResponse.errorMessages,function(key,value){
                                    $('input[name='+key+']').after('<span class="error">'+value+'</span>');
                                    $('input[name='+key+']').addClass("is-invalid");
                                });
                            }
                        }
                    });
                } else {
                    console.log('error');
                }
            });
            function validateData() {
                return true;
            }
            var toolbarOptions = [
                [{
                    'header': [1, 2, 3, 4, 5, 6, false]
                }],
                ['bold', 'italic', 'underline', 'strike'], // toggled buttons
                ['blockquote', 'code-block'],

                [{
                    'header': 1
                }, {
                    'header': 2
                }], // custom button values
                [{
                    'list': 'ordered'
                }, {
                    'list': 'bullet'
                }],
                [{
                    'script': 'sub'
                }, {
                    'script': 'super'
                }], // superscript/subscript
                [{
                    'indent': '-1'
                }, {
                    'indent': '+1'
                }], // outdent/indent
                [{
                    'direction': 'rtl'
                }], // text direction

                [{
                    'size': ['small', false, 'large', 'huge']
                }], // custom dropdown

                [{
                    'color': []
                }, {
                    'background': []
                }], // dropdown with defaults from theme
                [{
                    'font': []
                }],
                [{
                    'align': []
                }],
                ['link', 'image', 'video'],

                ['clean']
            ];

            var quillFull = new Quill('#editor', {
                modules: {
                    toolbar: toolbarOptions
                },
                theme: 'snow',
                placeholder: "Write something..."
            });
            /*quillFull.on('text-change', function() {
                var html = quillFull.root.innerHTML;
                console.log(html);
                $(".preview").html(html)
            });*/


            $( '#clickpreview' ).on('click', function() {
                console.log('aaaaa');
            });

            function preview(){
                sample1('');
            }

            jQuery(function($) {
                $('.ql-toolbar').append("<a  onclick='openNav()' class='pull-right' style='cursor: pointer; font-size: 20px' title='Preview'><span class='ti-eye'></span></a>")
            });

            function openNav() {
                document.getElementById("myNav").style.width = "95%";
                document.getElementById("myNav").style.margin = '50px';
                var content = quillFull.root.innerHTML;
                $('#contentPreview').append(content);
            }

            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
                $('#contentPreview').html('');
            }
        </script>
        <script>
            jQuery(document).ready(function() {
                jQuery(".standardSelect").chosen({
                    disable_search_threshold: 10,
                    no_results_text: "Oops, nothing found!",
                    width: "100%"
                });
            });
        </script>

    </section>
</div>
</body>
</html>